Repository metatensor/metatensor, pull requests merged in 2023-02, with the labels that each got.

#112 Restructure operations documentation pages
  docs/src/reference/python/operations/creation/empty_like.rst
  docs/src/reference/python/operations/creation/index.rst
  docs/src/reference/python/operations/creation/ones_like.rst
  docs/src/reference/python/operations/creation/zeros_like.rst
  docs/src/reference/python/operations/index.rst
  docs/src/reference/python/operations/linear_algebra/dot.rst
  docs/src/reference/python/operations/linear_algebra/index.rst
  docs/src/reference/python/operations/linear_algebra/lstsq.rst
  docs/src/reference/python/operations/linear_algebra/solve.rst
  docs/src/reference/python/operations/logic/allclose.rst
  docs/src/reference/python/operations/logic/index.rst
  docs/src/reference/python/operations/manipulation/index.rst
  docs/src/reference/python/operations/manipulation/join.rst
  docs/src/reference/python/operations/manipulation/remove-gradients.rst
  docs/src/reference/python/operations/manipulation/samples-reduction.rst
  docs/src/reference/python/operations/manipulation/slice.rst
  docs/src/reference/python/operations/math/add.rst
  docs/src/reference/python/operations/math/index.rst
  docs/src/reference/python/operations/math/multiply.rst
  python/src/equistore/operations/add.py
  python/src/equistore/operations/multiply.py
Labels: documentation, Python-API

#115 Check components in a propper way
  python/src/equistore/operations/_utils.py
Labels: bug, Python-API

#124 Please B028 linting error
  python/src/equistore/io.py
  python/src/equistore/operations/lstsq.py
  python/src/equistore/operations/slice.py
Labels: CI/CD

#116 Split function and more numpy-esque slice
  docs/src/reference/python/operations/manipulation/index.rst
  docs/src/reference/python/operations/manipulation/split.rst
  python/src/equistore/operations/__init__.py
  python/src/equistore/operations/_utils.py
  python/src/equistore/operations/slice.py
  python/src/equistore/operations/split.py
  python/tests/operations/slice.py
  python/tests/operations/split.py
Labels: Python-API

#139 Add explanation on Python docstring format
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
Labels: documentation
