Repository metatensor/metatensor, pull requests merged in 2023-03, with the labels that each got.

#160 Convenience functions for Labels
  python/src/equistore/labels.py
  python/tests/labels.py
Labels: Python-API

#157 More for the community
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  README.rst
Labels: documentation

#178 import `io` such that it is consistent with other equistore functions
  docs/src/reference/python/misc.rst
  python/src/equistore/__init__.py
  python/src/equistore/io.py
  python/tests/data.py
  python/tests/operations/allclose.py
  python/tests/operations/dot.py
  python/tests/operations/empty_like.py
  python/tests/operations/equal.py
  python/tests/operations/join.py
  python/tests/operations/ones_like.py
  python/tests/operations/reduce_over_samples.py
  python/tests/operations/remove_gradients.py
  python/tests/operations/slice.py
  python/tests/operations/split.py
  python/tests/operations/unique_metadata.py
  python/tests/operations/zeros_like.py
  python/tests/serialization.py
Labels: Python-API

#221 Port join tests to pytest
  python/tests/operations/join.py
Labels: Tests, Operations

#234 Add toggleprompt button to html docs
  docs/requirements.txt
  docs/src/conf.py
Labels: documentation

#226 Disable shallow copies of TensorMap/TensorBlock
  python/src/equistore/block.py
  python/src/equistore/tensor.py
  python/tests/blocks.py
  python/tests/tensor.py
Labels: bug, Python-API
